/*  Mobile default */
.body {
}

.side-menu {

	background-color:red;
	height: 500px;

}

.main-content {

	background-color:blue;
	height: 500px;

}

.middle-content {
	background-color: yellow;
	height: 500px;
}
