// Import
@import color
// Mixins
=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

// Mobile Default Styling

body
	margin: 0

.banner
	background-color: $background-color
	text-align: center

	.navbar
		padding-top: .7em

		a
			text-decoration: none
			color: $text-color
			padding: 0 0.4em
			font-weight: 900
			font-size: 1.1em

	.wave
		background-image: url(http://placekitten.com/g/50/50)
		height: 3.25em
		width: 3.25em
		+border-radius(100px)
		margin: 1.8em 0 1em 0

	.hero
		color: white
		font-size: 2em
		margin-bottom: 0.25em
		letter-spacing: 0.125em

	.subheader
		color: $text-color
		padding-bottom: 2em

.content
	color: black

	div:first-child
		background-color: $text-color

	.icon-box
		height: 3em
		width: 3.5em
		background-color: grey
		text-align: center
		display: inline-block
		line-height: 3em


.footer
	background-color: $footer-background-color
	color: $footer-text-color
	width: 100%
	text-align: center
	padding: 5em 0

	.footer-box
		padding: 0

	.footer-items
		display: inline-block
		width: 25%
		line-height: 1.5em

	p
		line-height: 1.5em

	img
		margin-top: 3em
		margin-bottom: 1em

